## Indexing

    調整與操作index
    
    indexing不單只index的操作，有些也可以適用於columns

In [1]:
import pandas as pd
df = pd.DataFrame({'a':[1,2,3], 'b':[2,3,4]})
df

   a  b
0  1  2
1  2  3
2  3  4

- ### 用現有欄位作為index設定

In [3]:
df.set_index('a')

   b
a
1  2
2  3
3  4

    - 被指定為新index的欄位，在預設狀況會被刪除，可以用drop參數保留他

In [4]:
df.set_index('a', drop=False)

   a  b
a
1  1  2
2  2  3
3  3  4

    - 用append來產生多重index (保留原index)

In [5]:
df.set_index('a', append=True)

     b
  a
0 1  2
1 2  3
2 3  4

    - inplace: 決定是否要讓修改直接更動原始資料

In [6]:
df.set_index('a', drop=False, inplace=True)

In [7]:
df

   a  b
a
1  1  2
2  2  3
3  3  4

- ### 改變index順序 or 自訂新index

In [8]:
df

   a  b
a
1  1  2
2  2  3
3  3  4

In [10]:
df.reindex([3,2,1])

   a  b
a
3  3  4
2  2  3
1  1  2

    - 使用自訂index時，注意values並沒有改變，因此若設定了新的index，則相對應的值會是空值

In [11]:
df.reindex([1,2,4]) # 原本index 3的值直接消失

     a    b
a
1  1.0  2.0
2  2.0  3.0
4  NaN  NaN

    - reindex設計上沒有inplace功能，若一定要改動原始資料，需要透過重新指定 (不太會用到)

In [12]:
df = df.reindex([3,2,1])
df

   a  b
a
3  3  4
2  2  3
1  1  2

- ### 將index重製為預設遞增數列

In [15]:
df = pd.DataFrame({'a':[1,2,3], 'b':[4,5,6]}, index=[7,8,9])
df

   a  b
7  1  4
8  2  5
9  3  6

    - index重製時，原本的index會被當成一個新的欄位

In [16]:
df.reset_index()

   index  a  b
0      7  1  4
1      8  2  5
2      9  3  6

    - 若不想要新增欄位，可以使用drop

In [17]:
df.reset_index(drop=True)

   a  b
0  1  4
1  2  5
2  3  6

- ### 重新命名

In [2]:
df = pd.DataFrame({'a':[1,2,3], 'b':[4,5,6]}, index=[7,8,9])
df

   a  b
7  1  4
8  2  5
9  3  6

In [3]:
df.rename({7:77, 8:88, 9:99})

    a  b
77  1  4
88  2  5
99  3  6

    - 也可以使用自訂function當作更改方法

In [22]:
df.rename(lambda x: x * 11)

    a  b
77  1  4
88  2  5
99  3  6

[--QUIZ--]

建立一個DataFrame {'id':[123,124,125,126], 'count':[100, 200, 200, 100]}

用id取代原本的index，但不要刪除id欄位

重新設定index，改成123,124,125,127

刪除空值的row

重製index為遞增數列

將欄位名稱改為大寫