## Aggregation 聚合

指將 "大量的資料筆數" 收斂成 "較少的資料聚合體" ，用來表示資料不同的面相與潛在的資訊價值

In [8]:
import pandas as pd

In [4]:
df = pd.DataFrame([[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,pd.np.nan,16]], columns=['a','b','c','d'])

C:\Users\User\AppData\Local\Temp/ipykernel_19172/1259204794.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df = pd.DataFrame([[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,pd.np.nan,16]], columns=['a','b','c','d'])

In [3]:
# 注意資料型態的改變
df

    a   b     c   d
0   1   2   3.0   4
1   5   6   7.0   8
2   9  10  11.0  12
3  13  14   NaN  16

- ### 聚合方法

    - max, min, mean, sum, std 等

In [ ]:
df['a'].sum()

28

In [ ]:
df.loc[0].sum()

10.0

    - 事實上，你可以對整個DataFrame聚合，使用axis決定取值方式

In [ ]:
df.max(axis=0)

a    13.0
b    14.0
c    11.0
d    16.0
dtype: float64

    - agg方法: 一次執行多個聚合方法
    
        可使用function或function的str名稱來定義

In [ ]:
df['a'].agg([pd.np.sum, 'mean'])

sum     28.0
mean     7.0
Name: a, dtype: float64

    - 多個欄位(df)使用聚合，則結果也是用df表示

In [ ]:
df[['a','b']].agg([pd.np.sum, 'max'])

      a   b
sum  28  32
max  13  14

    - 計數方法

In [ ]:
df['c']

0     3.0
1     7.0
2    11.0
3     NaN
Name: c, dtype: float64

In [ ]:
# 計算總資料筆數
len(df['c'])

4

In [ ]:
df['c'].size

4

In [ ]:
# 計算非空值筆數
df['c'].count()

3

In [ ]:
# 計算空值筆數
df['c'].isnull().sum()

1

## groupby 分組方法

    先將資料分組之後再進行聚合

In [ ]:
df = pd.DataFrame({'a':['x','x','y','y'], 'b':[1,2,3,4], 'c':['5','6','7','8']})

In [ ]:
df

   a  b  c
0  x  1  5
1  x  2  6
2  y  3  7
3  y  4  8

     - 只有數值型資料會被聚合，其他類型會被忽略

In [ ]:
df.dtypes

a    object
b     int64
c    object
dtype: object

    - 直接做groupby的結果是一個groupby物件

In [ ]:
df.groupby('a')

    - 對groupby物件使用聚合

In [ ]:
df.groupby('a').sum()

   b
a
x  3
y  7

    - groupby的筆數計算要使用size()

In [ ]:
df.groupby('a').size()

a
x    2
y    2
dtype: int64

    - 查看分組

In [ ]:
df.groupby('a').groups

{'x': Int64Index([0, 1], dtype='int64'),
 'y': Int64Index([2, 3], dtype='int64')}

    - 取出分組

In [ ]:
df.groupby('a').get_group('x')

   a  b  c
0  x  1  5
1  x  2  6

---

[--QUIZ--]

1. 載入steal.csv
2. 建立新欄位district，表示區域名 (台北市xx區)
3. 計算各區域被竊總數
4. 被竊數最多的區域是? (提示:pd.Series.idxmax)

[--QUIZ--]
1. 載入emergency.csv
2. 刪除第一二列
3. 建立新欄位"level"，如果該區域事故合計超過800則標為"high"，小於等於800則標為"low"
4. 計算不同level的事故總和
5. 計算不同level車禍數佔總事故數的比率