In [2]:
import pandas as pd

## merge 表格對接

    SQL中的join
    
    將兩個表格根據共同欄位做結合

In [4]:
df1 = pd.DataFrame({'a':['x','x','y','y'], 'b':[1,2,3,4]})

In [5]:
df1

   a  b
0  x  1
1  x  2
2  y  3
3  y  4

In [6]:
df2 = pd.DataFrame({'a':['x','y','z'], 's':[10,20,30]})

In [7]:
df2

   a   s
0  x  10
1  y  20
2  z  30

- ### 參數 on: 兩個表格根據哪個共同欄位做結合
- ### 參數 how: 如何做結合

    - how=inner: 共同欄位中相同的值會被匹配，每匹配到一次則生長一筆新資料，未匹配則不動作

In [8]:
df1.merge(df2, how='inner', on='a')

   a  b   s
0  x  1  10
1  x  2  10
2  y  3  20
3  y  4  20

    - how=outer: 共同欄位中，無論有無匹配，都會生成新資料，無匹配的資料以空值表示

In [9]:
df1.merge(df2, how='outer', on='a')

   a    b   s
0  x  1.0  10
1  x  2.0  10
2  y  3.0  20
3  y  4.0  20
4  z  NaN  30

    - how=left/right: 以左表為主或以右表為主，作為基準的表格所有筆數都會生成新資料，對應的表格資料若無法與基準表格匹配，則不動作

In [10]:
df1.merge(df2, how='left', on='a')

   a  b   s
0  x  1  10
1  x  2  10
2  y  3  20
3  y  4  20

## append增加列資料

In [3]:
df1 = pd.DataFrame({'a':[1,2,3,4], 'b':[2,3,4,5]})
df2 = pd.DataFrame({'a':[4,5], 'b':[7,8]})

In [12]:
df1

   a  b
0  1  2
1  2  3
2  3  4
3  4  5

In [13]:
df2

   a  b
0  4  7
1  5  8

    - 橫向增加資料筆數
    
        不影響原始資料

In [5]:
df1.append(df2, ignore_index=True)

   a  b
0  1  2
1  2  3
2  3  4
3  4  5
4  4  7
5  5  8

- ### concat結合資料

    可橫向或直向結合

In [15]:
df1 = pd.DataFrame({'a':[1,2,3,4], 'b':[2,3,4,5]})
df2 = pd.DataFrame({'c':[4,5,6,7], 'd':[7,8,8,7]})

In [16]:
df1

   a  b
0  1  2
1  2  3
2  3  4
3  4  5

In [17]:
df2

   c  d
0  4  7
1  5  8
2  6  8
3  7  7

    - axis控制結合方式

In [18]:
pd.concat([df1,df2], axis=1)

   a  b  c  d
0  1  2  4  7
1  2  3  5  8
2  3  4  6  8
3  4  5  7  7

    - 若結合長度不相等，則會產生空值

In [19]:
pd.concat([df1,df2], axis=0)

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  2.0  3.0  NaN  NaN
2  3.0  4.0  NaN  NaN
3  4.0  5.0  NaN  NaN
0  NaN  NaN  4.0  7.0
1  NaN  NaN  5.0  8.0
2  NaN  NaN  6.0  8.0
3  NaN  NaN  7.0  7.0